body{
				background-color: #e1f6f6;
}
h1 , h3{
				color:#5fbfbf;
}
hr{
				border-style:none;
				border-top-style:dotted;
				border-color:grey;
				border-width:5px;
				height:0;
				width:5%;
				
}
img{
				width:200px;
				height:170px;
}